.cropArea {
  background: #000000;
  overflow: hidden;
  width:100%;
  height:350px;
}
.progress{
  margin-top: 15px;
}
.progress .progress-bar {
  font-size: 14px;
  line-height: 22px;
}
.participante-preview{
  width: 100%;
  margin: 0 auto;
}

.participante-image-placeholder{
  border: 1px solid #ddd;
  background-image: url('../assets/images/person-placeholder.jpg');
  background-size: cover;
  :hover{
    border: 2px solid rgba(244,67,54, .2);
    background-color: rgba(244,67,54,.2);
    cursor:pointer;
  }
}

.miniatura-participante{
  width: 60px;
  height: 60px;
  margin: 15px 15px 15px 0;
}

.mostrar-participante-check{
  margin-right: 5px;
}

.btn-aniadir{
  margin-top: 32px;
  float:right;
}
